body {
    margin: 0px 0px;
    width: 1440px;
    height: 1019px;

}

.cuadroTop{
    
    position: absolute;
    width: 1440px;
    height: 104px;
    left: 0px;
    top: 0px;

    background: rgba(89, 174, 201, 0.6);

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 0px;
}

.cuadroTop h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 10px;
}

.avi{
    background-image: url("../img/avion.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 1440px;
    height: 561px;
    left: 0px;
    top: 0px;
}
.img_usuario{
    width: 392px;
    height: 302px;
    left: 100px;
    top: 650px;
    background-color: aquamarine;
    background-image: url("../img/pasajero.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    
}

.LOGIN-USUARIO {
    width: 1440px;
    height: 1019px;
    flex-grow: 0;
    padding: 0 0 82px;
    background-color: #fff;
  }

.Usuario {
    width: 111px;
    height: 27px;
    margin: 158px 54px 40px 99px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }


.Rectangle-9 {
    width: 405px;
    height: 35px;
    margin: 154px 328px 36px 14px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: rgba(217, 217, 217, 0.46);
  }
  .Rectangle-10 {
    width: 405px;
    height: 35px;
    margin: 36px 328px 36px 14px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: rgba(217, 217, 217, 0.46);
  }

.registro{
    background-color: rgba(89, 174, 201, 28%);
    width: 650px;
    height: 302px;
    left: 600px;
    top: 650px;
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}
