<!doctype html>
<html class="html">
  <head>
    <title>Inicio</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
  </head>
  <body class="body">
    <nav class="caja1">
      <h1 class="titulo">Plataforma de Mensajería Electrónica</h1>
      <ul class="m-0">
        <!--{% if g.user %}-->
          <!--<li><span>{{ g.user['username'] }}</span>-->
          <li><a href=".//base.html">Logout</a>
        <!--{% else %}-->
          <li><a href=".//auth/register.html">Register</a>
          <li><a href=".//auth/login.html">Login</a>
          <li><a href=".//auth/forgot.html">Forgot your password?</a>
        <!--{% endif %}-->
      </ul>
    </nav>
    <section class="content">
      <header class="mb-2 flex justify-between">
        <!--{% block header %}{% endblock %}-->
      </header>
      <!--{% for message in get_flashed_messages() %}-->
        <div class="flash rounded-md bg-indigo-300 border-indigo-600 text-indigo-800">{{ message }}</div>
      <!--{% endfor %}-->
      <!--{% block content %}{% endblock %}-->
    </section>
  </body>
</html>